* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    color:gold;
}
.container .container_h2{
    font-weight: bold;
    font-size: 30px;
    color:darkblue;
}
.change{
    color:darkblue;
}
.paragraph{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    color:black;
}


